{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}
{% block content %}
<form method="POST" style="margin-top: 5px;">
    <h3 align="center">Sign Up</h1>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
    </div>
    <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name" required/>
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required/>
    </div>
    <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" required/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}

